li:hover {
    background-color: #d3d3d4;
}

label {
    display: initial;
    margin-left: 5px;
}

input[type="checkbox"], input[type="radio"] {
    margin-left: 5px;
}

#nextBtn, #retakeQuestions {
    display: none;
}

img {
    max-height: 280px;
    max-width: 100%;
}

pre {
    white-space: normal;
}